{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <h1 class="display-4 mb-4" style="font-weight: 400">
      Öğrenci Bilgi Sisteme Hoş Geldiniz
    </h1>
    <p class="lead mb-4" style="color: rgb(6, 31, 253)">
      *******************************************************************************
    </p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <i class="bi bi-pencil-square display-4 text-primary mb-3"></i>
        <a href="/Akademik"><h3>Akademik Yönetim</h3></a>
        <p>Akademik Yönetimlerinizi yazın.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <i class="bi bi-calendar-check display-4 text-primary mb-3"></i>
        <h3>Kayıt ve Kayıt Yenileme</h3>
        <p>Online ders seçimi (ön koşul kontrolü).</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <i class="bi bi-shield-lock display-4 text-primary mb-3"></i>
        <h3>Güvenlik ve Uyumluluk</h3>
        <p>Veri şifreleme ve düzenli yedekleme.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
