@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
#hedr{
    background-color: #161524;
}
header{
    font-weight: 900;
    font-size: xx-large;
}

.sidbare{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 365px;
    background:#121120;
    padding: 14px;
}
.logo-img{
    width: 80px;
    margin-bottom: 10px;
}

.logo-details{
    
   
 
}
.logo-name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 800;
}
#spand {
    margin-left: -20px;
    font-weight: 900;
    font-size: 400%;
    color: #ffffff;
    padding-left: 17px;

}
.search{
    --padding:10px;
    width:max-content;
    margin-left:-10px ;
    display: flex;
    align-items:center;
    padding: var(--padding);
    border-radius:28px;
    background-color:#f6f6f6;
    transition: box-shadow 0.25s;
}
.search:focus-within{
   box-shadow:0 0 2px rgba(70,0,0,75);
}
.search-input{
    font-size: 14px;
    font-family: 'lexend' ,sans-serif;
    color:#333333;
    margin-left: var(--padding);
    outline: none;
    background:transparent;
    border:none;
    width: 293px;;
}
.search-input::placeholder{
    color:rgba(0, 0, 0, 25);
}
.search-icon{
    color:black;
}

.nav-links{ 
    margin-left: -12px;
    
}


.li-links{
    position: relative;
    color:#ffffff;
    width: 100%;
    list-style-type: none;
    font-size: 134%;
    padding: 10px;
    text-decoration-style: none;
    
}
.li-links:hover{
         color: #fff;
        display: flex;
        gap: 10px;
        white-space: nowrap;
        border-radius: 8px;
        padding: 12px 15px;
        align-items: center;
        text-decoration: none;
        transition: 0.4s ease;
}
.nav-links .showMenu span.sublist{
    display: block;
}
.nav-links .showMenu span.bi-chevron-down{
    transform: rotate(-180deg);
}

.sublist {
    background-color:#121120;
    list-style-type: none;
    padding: 6px 6px 14px 51px;
    margin-top: -30px;
    /*display: none;*/
    color:#fff;
    border-radius:0 8px 8px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}
.li-links:hover .sublist {
    top: 0;
    opacity: 1;
    pointer-events: auto;

   
}
.sublist a{
    color:#fff;
    opacity: 0.6;
    transition: all 0.3s ease;
    padding-bottom: 10px;
}
.sublist a:hover{
    opacity: 1;
    color:#fff;
    text-decoration: none;
    text-shadow: #000000;
}

/*
.sublist .head {
    font-weight: 800;
    opacity: 1;
    display: block;

}*/

#close{
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: 0;
    padding: 10px 20px;
    white-space: nowrap;
}

span{
    color: #fff;
    margin: 10px;
    font-weight: 900;

}
#HG , #SP , #PL , #BS , #TK , #OH , #TV , #RB , #R , #BH{
    color:#161524;
    font-weight: 900;
}
h3{
    font-size: x-large;
    font-weight: 900;
    color: rgb(77, 73, 73);

}
p{
    font-size:150%;
 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    padding-left: 371px;
}


table{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     color: #333;
     font: 13px/23px Helvetica, Arial, sans-serif;
     -webkit-font-smoothing: antialiased;
     word-wrap: break-word;
     font-size: 1.1em;
     line-height: 1.8em;
     box-sizing: border-box;
     border-collapse: collapse;
     border-spacing: 0;
     background-color: transparent;
     width: 100%;
     max-width: 100%;
     margin-bottom: 20px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
    font: 13px/23px Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    font-size: 1.1em;
    line-height: 1.8em;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}

#fb{
  padding: 20px;
  color: #fff;
}
#al{
    color: #ffffff;
    text-decoration: none;
}
#ft {
    padding-left: 371px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161524;
    width: 100%;
    color: white;
    font-size: larger;
}
.footer1, header {
    padding: 10px;
    font-size: larger;
    color: white;
    background-color:#0c0b1a ;
    text-align: center;
    bottom: 0;
}

.footer1 .footer2 , header{
    text-align: center;
    padding-left: 371px;
}
